name: Release

on:
  push:
    branches: [master]
    tags: ["*"]

jobs:
  release-please:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json

  package:
    needs: release-please
    if: ${{ !failure() && !cancelled() && needs.release-please.outputs.release_created }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: BigWigsMods/packager@v3
        env:
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REF: refs/tags/${{ needs.release-please.outputs.tag_name }}
